<div class="threads" *ngIf="showThreads">
    <div class="postContentHeader">
        <span># threads</span>
    </div>
    <div class="postContentContainer">
        <div class="postContent">
            <div class="postHeader">
                <div class="userPic">pic</div>
                <span>Manuel Thaler</span> 18:06 Uhr
                <div class="firstPost">
                    Passt für mich
                </div>
            </div>
            <div class="post">
                am besten du machst aber schon eine Basisversion des PFs
                mit deinen Frontendprojekten
            </div>
            <div class="post">
                dann kann ich dir das Frontendzertifikat ausstellen
                und dann machst du einfach mit backend weiter
            </div>
        </div>
        <div class="postContent">
            <div class="postHeader">
                <div class="userPic">pic</div>
                <span>Heinz Friess</span> 18:06 Uhr
                <div class="firstPost">
                    Mein PF ist schon eine ganz gute Basis, denke ich.
                    https://heinzfriess.com/
                    Ist schon bei über 80%, Hauptsächlich responsive ist noch Detailarbeit zu tun.
                    Soll ich dann die Abgabe Funktion nutzen oder schaltest Du mir die nächsten Module frei? (bearbeitet)
                </div>
            </div>
            <div class="post">
                und klar, das Bild wird noch ein Anderes :zwinkern:
            </div>
        </div>
        <div class="postContent">
            <div class="postHeader">
                <div class="userPic">pic</div>
                <span>Manuel Thaler</span> 18:06 Uhr
                <div class="firstPost">
                    Passt für mich
                </div>
            </div>
            <div class="post">
                am besten du machst aber schon eine Basisversion des PFs
                mit deinen Frontendprojekten
            </div>
            <div class="post">
                dann kann ich dir das Frontendzertifikat ausstellen
                und dann machst du einfach mit backend weiter
            </div>
            <div class="post">
                .router-container in home.component.scss<br>
                   paddings entfernen<br>
            </div>
        </div>
    </div>
    <div class="messageBox">
        <div class="messageBoxHead">
            boxhead
        </div>
        <div class="messageBoxInput">
            <form action="">
                <input type="text">
            </form>
        </div>
        <div class="messageBoxFooter">
                footer
        </div>
    </div>
</div>
