<div class="startScreenContainer">
    <div class="introductionContainer">
      <div>
        <div class="logoContainer">
          <img src="assets/img/slack-big.svg" />
          <h1>Slack-clone</h1>
        </div>
  
        <div>
          <h2>Slack-clone brings the team together wherever you are</h2>
  
          <div class="btnBox">
            <button mat-raised-button (click)="openLogin()">
              Sign in to Slack-clone
            </button>
          </div>
        </div>
      </div>
  
      <div class="registerBox">
        <span>Are you new to Slack-clone?</span>
        <a (click)="openSignUp()">Create a new Account</a>
      </div>
    </div>
  
    <div class="world-img">
      <img src="./assets/img/world.jpg" />
    </div>
  </div>
