<div class="dialog-container">
    <div class="top-container">
      <div class="header">
        <h1 mat-dialog-title>Create a channel</h1>
  
        <mat-icon mat-dialog-close>close</mat-icon>
      </div>
      <span class="description-text">
        Channels are used for your team to communicate. <br>
        Ideally, they should be topic-related - #marketing, <br>
        for example.
        </span>
    </div>
    <div class="form-container" mat-dialog-content>
      <div>
        <span><b>Name of channel</b></span>
        <mat-form-field appearance="outline">
          <input
            disable="loading"
            matInput
            [(ngModel)]="post.conversationId"
            placeholder="e.g. budget planning"
          />
        </mat-form-field>
      </div>
      <div>
        <span><b>Description</b> (optional)</span>
        <mat-form-field appearance="outline">
          <input
            disable="loading"
            matInput
            [(ngModel)]="post.message"
            placeholder="What is this channel about?"
          />
        </mat-form-field>
      </div>
    </div>
  
    <div class="btn-container" mat-dialog-actions>
      <button
        disable="loading"
        [disabled]="!post.conversationId"
        (click)="createConversation('channel')"
        mat-button
        cdkFocusInitial>
        Create
      </button>
    </div>
  </div>
  
