<h2 mat-dialog-title>Edit Post</h2>
<mat-dialog-content class="mat-typography">
    <div style="padding-top: 12px;">
        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>Message</mat-label>
            <textarea [disabled]="loading" [(ngModel)]="post.message" matInput placeholder="{{ post.message }}"></textarea>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button [disabled]="loading" mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="loading" [mat-dialog-close]="true" (click)="saveEdit()"
        cdkFocusInitial>Save</button>
</mat-dialog-actions>