.main-content {
    padding: unset;
    width: 400px;
    height: 400px;

    mat-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 1px;
        padding: 10px;
        width: 100%;
        height: 100%;

        .user-info-box {
            display: flex;
            align-items: center;
            gap: 15px;

            .img-container {
                width: 100px;
                height: 100px;

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            mat-card-title {
                font-size: 20px;
                margin: unset;
            }

            .user-info {
                display: flex;
                flex-direction: column;

                .online-status {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                .dot-sidenav {
                    position: unset;
                    outline: black;
                }
            }
        }


        .btn-container {
            justify-content: flex-end;
            button {
                background-color: blueviolet;
                color: white;

                &:hover {
                    background-color: rgb(185, 112, 253);
                }
            }
        }
    }

}