<div class="postsOverview">
    <div class="postContentHeader">
        <span>{{ home.removeUser(activeConversationId) }}</span>
    </div>
    <div class="postContentContainer">
        <div *ngFor="let post of conversations">
            <div class="conversationInfo" *ngIf="!post.subPost">
                <div class="header">
                    <img class="userPic" *ngIf="!(post.conversationType == 'channel')" src="../../assets/img/profil/{{home.getUserAvatar(post.userId)}}"> 
                    <span># {{home.removeUser(post.conversationId)}}</span>
                </div>
                <div class="content">
                    {{post.message}}
                </div>
                <div class="optionBox">
                    <button  *ngIf="(post.conversationType == 'channel' && post.userId == activeUserId)">
                        <mat-icon (click)="deletePost(post.customIdName)">delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="postContent" *ngIf="post.subPost">
                <img class="userPic" src="../../assets/img/profil/{{home.getUserAvatar(post.userId)}}"> 
                <div class="postHeader">            
                    <span>{{ post.userId }}  {{times.getDate(post.timeStamp)}}  {{times.getTime(post.timeStamp)}}</span> 
                    <div class="firstPost">
                        {{post.message}}
                    </div>
                    <span class="answers" (click)="openThread(post.threadId)" *ngIf="(post.conversationType == 'channel')">{{post.threadAmount}} Answers</span>
                </div>
                <div class="optionBox">
                    <button  *ngIf="(post.conversationType == 'channel')">
                        <mat-icon (click)="openThread(post.threadId)">comment</mat-icon>
                    </button>
                    <button *ngIf="(post.userId == activeUserId)">
                        <mat-icon (click)="editPost(post)">edit</mat-icon>
                    </button>
                    <button *ngIf="(post.userId == activeUserId)">
                        <mat-icon (click)="deletePost(post.customIdName)">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="messageBox">
        <mat-form-field appearance="outline">
            <mat-label>Nachtricht an {{ home.removeUser(activeConversationId) }}</mat-label>
            <textarea [(ngModel)]="message" [disabled]="loading" matInput></textarea>
            <button *ngIf="message" (click)="savePost()">
                <mat-icon matSuffix>send</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>