<div class="postsOverview">
    <div class="postContentHeader">
        <span>{{ home.removeUser(activeConversationId) }}</span>
        <span>{{ activeConversationType }}</span>
    </div>
    <div class="postContentContainer">
        <div *ngFor="let post of conversations">
            <div class="conversationInfo" *ngIf="!post.subPost">
                <div class="header">
                    <div class="userPic" *ngIf="!(post.conversationType == 'channel')">pic</div>
                    <span>{{home.removeUser(post.conversationId)}}</span>
                </div>
                <div class="content">
                    {{post.message}}
                </div>
            </div>
            <div class="postContent" *ngIf="post.subPost">
                <div class="postHeader">
                    <div class="userPic">pic</div>
                     <span>{{ post.userId }} </span> <!--{{post.getTime()}} -->
                    <div class="firstPost">
                        {{post.message}}
                    </div>
                </div>
            </div>
            <div class="channelMenu" *ngIf="(post.conversationType == 'channel') && post.subPost">
                <span (click)="openThread(post.threadId)">{{post.threadAmount}}Answers</span> 
            </div>
        </div>
        
    </div>
    <div class="messageBox">
        <mat-form-field appearance="outline">
            <mat-label>Nachtricht an {{ home.removeUser(activeConversationId) }}</mat-label>
            <textarea [(ngModel)]="post.message" [disabled]="loading" matInput></textarea>
            <button *ngIf="message" (click)="savePost()">
                <mat-icon matSuffix>send</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>