<!-- <app-searchbar></app-searchbar> -->

<!-- <app-sidenav></app-sidenav> -->

<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
        <div class="logo-container">
            Slack-clone
        </div>

        <ul class="menu-items">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="specific-class">
                    <mat-panel-title>
                        Channels  
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p (click)="changeActiveConversationId('Allgemein')">#Allgemein</p>
                <p (click)="changeActiveConversationId('testConversationId')">#testConversationId</p>
                <div class="add-channel">
                    <button mat-icon-button>
                        <mat-icon>add</mat-icon> 
                      </button>
                      <span>Add channels</span>
                </div>
            </mat-expansion-panel>
            
        </ul>
        <ul class="menu-items">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="specific-class">
                    <mat-panel-title>
                        Chats
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Max</p>
                <div class="add-chat">
                    <button mat-icon-button>
                        <mat-icon>add</mat-icon> 
                      </button>
                      <span>Add chat</span>
                </div>
               
            </mat-expansion-panel>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <mat-toolbar-row>

                <div class="searchbar-Container">
                    <mat-icon matPrefix>search</mat-icon>
                    <input class="searchbar" type="text" placeholder="Search messages ..." />
                </div>
                <!-- <img src="./assets/img/slack-big.svg" (click)="openSettings()"  matTooltip="{{ currentUser.userName }}" alt=""> -->

            </mat-toolbar-row>
        </mat-toolbar>

        <div class="router-container">
            <app-post-overview [activeUserId]="activeUserId" [activeConversationId]="activeConversationId"></app-post-overview> 
            <app-threads></app-threads>
        </div>
    </div>

</mat-drawer-container>