<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="this.toggler.open" [mode]="this.toggler.type">
        <div class="logo-container">
            Slack-clone
        </div>
        <ul class="menu-items">

            <mat-selection-list hideSingleSelectionIndicator [multiple]="false">
                <mat-expansion-panel class="channelPannel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="specific-class">
                        <mat-panel-title>
                            Channels
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list-option (click)="changeActiveConversationId(channel, 'channel')" *ngFor="let channel of channels" class="listItem">
                        <span class="listItem"
                            ># {{channel}}</span>
                    </mat-list-option>
                    <div class="add-channel">
                        <span>Add channels</span>
                        <button mat-mini-fab (click)="openAddChannel()">
                            <mat-icon>add</mat-icon>
                          </button>
                    </div>

                 </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header class="specific-class">
                        <mat-panel-title>
                             Chats
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list-option (click)="changeActiveConversationId(chat, 'chat')" *ngFor="let chat of chats" class=" listItem">
                        <span class="listItem" >{{chat}}</span>
                    </mat-list-option>
                    <div class="add-chat">
                        <span>Add chat</span>
                        <button mat-mini-fab (click)="openAddConversation('chat')">
                            <mat-icon>add</mat-icon>
                          </button>
                    </div>
                </mat-expansion-panel>
            </mat-selection-list>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar>
            <mat-toolbar-row>
                <div class="searchbar-Container">
                    <button (click)="closeSidenav()" (click)="this.toggler.toggleNav()" class="buttonSidenav" [ngClass]="{'rotate': displayNotiffication , 'rotateNegativ': !displayNotiffication}" mat-mini-fab matTooltip="open/collapse Workspace" color="basic">
                        <mat-icon>keyboard_double_arrow_right</mat-icon>
                    </button>
                    <input class="searchbar" matInput placeholder="Search messages">
                    <img src="./assets/img/slack-big.svg" (click)="openSettings()"
                        matTooltip="{{ currentUser.userName }}" *ngIf="userService.currentUser$ | async as currentUser"
                        alt="">
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="router-container">
            <app-post-overview [activeUserId]="activeUserId" [activeConversationType]="activeConversationType" [(threadId)]="threadId"
                [activeConversationId]="activeConversationId" [(showThreads)]="showThreads" [(threadIdObs)]="threadIdObs"></app-post-overview>
            <app-threads  [activeUserId]="activeUserId" [activeConversationType]="activeConversationType"
            [threadId]="threadId" [(showThreads)]="showThreads" [threadIdBool]="threadIdObs"></app-threads>
        </div>
    </div>

</mat-drawer-container>